<header>
    <img [src]="imagePath"/>
    <div class="container">
        <a routerLink="/" class="logo">{{ appTitle }}</a>
        <nav>
            <ul>
                
     <li><a routerLink="/">Home</a></li> <!--<--router link is same sa a href>-->
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/team">Team</a></li>
        <li><a routerLink="/utility">Utility</a></li>
        <li><a routerLink="/employee">Employees</a></li>
        
    </ul>
</nav>
    </div>
    </header>